/********************* PARAMÈTRES GÉNÉRAUX DU SITE *********************/
:root {
  --font-base: "DM Sans", sans-serif;
  --font-else: "Roboto", sans-serif;
  --modal-duration: 0.8s;
}
/** Réinitialisation des marges navigateurs **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*** PARAMÈTRES PAGE ACCUEIL ***/

body {
  display: flex;
  flex-direction: column;
  background-image: url("background.png");
  font-family: var(--font-base);
  font-size: 1.125rem;
  max-width: 1440px;
  margin: auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px 15px;
  border-radius: 32px;
  text-align: justify;
}

footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 40px 0 40px 50px;
  font-weight: bolder;
}
.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-else);
}

@media screen and (max-width: 1080px) {
  .copyrights {
    text-align: center;
    margin: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .copyrights {
    font-size: 0.8rem;
  }
}

/****** ENTÊTE ******/
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 3.5% 7% 3.5% 7%;
}
/** logo **/
.header-logo img {
  width: 15rem;
  height: 2.5rem;
}

/*** Barre de Navigation ***/
.list {
  display: flex;
  gap: 10px;
  text-align: center;
}

.list_item a {
  padding: 12px;
  font-size: 1.2rem;
}

.list_item a span {
  position: relative;
}

/** Effet de Soulignement **/
.list_item a span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.list_item a:hover span::after {
  width: 100%;
}

.list_item a:hover {
  background-color: #fe142f;
  color: white;
  border-radius: 15px;
}

/** Îcone Hambuger **/
#btn_hamb {
  display: none;
  color: #fe142f;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}

/** Media Queries **/
@media screen and (max-width: 1080px) {
  .topnav {
    margin: 3.5%;
  }

  #btn_hamb {
    display: block;
  }

  .header-logo img {
    width: 11rem;
    height: 2.2rem;
  }

  .list {
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 0;
    text-align: left;
    padding: 10px;
    gap: 0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: all 0.1s ease-in-out;
  }

  .list_item a {
    display: inline-block;
    width: 100%;
  }
  /** Permet à JS d'afficher le menu lorsque nécessaire **/
  .menu_toggle {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  #btn_hamb {
    font-size: 1.2rem;
  }
  .topnav {
    margin: 3.5%;
  }
  .list_item a {
    padding: 10px;
    font-size: 1rem;
  }
  .header-logo img {
    width: 9rem;
    height: 1.8rem;
  }
}

/********************* PAGE ACCUEIL *********************/
/** Visuel central ou Conteneur principal **/
.hero-section {
  min-height: 93vh;
  border-radius: 10px;
  display: grid;
  /** une grille(invisibles) avec 12 colonnes égales **/
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
/** Partie de gauche **/
.hero-content {
  padding: 51px 67px;
  /** l'élément s'étend sur 5 colonnes (invisibles) consécutives dans la grille **/
  grid-column: span 5;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 250px;
}

/** Sélection de tous les enfants directs à l'intérieur de la div ayant la class "hero-content **/
.hero-content > * {
  position: relative;
  z-index: 1;
}
/** Titre principal h1 **/
.hero-headline {
  font-family: var(--font-base);
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  margin-top: 20px;
}
/** Description **/
.hero-text {
  width: 110%;
  font-weight: normal;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
}
/** Paramètres boutons Page Accueil (1 au-dessus de 1080px et un deuxième au-dessous de 1080px) **/
.btn-signup {
  /** pour supprimer l'effet de soulignement autour d'un élément en focus **/
  outline: none;
  /** Pour capitaliser la première lettre de chaque mot **/
  text-transform: capitalize;
  font-size: 1.563rem;
  padding: 12px 30px;
  margin-bottom: 20px;
  background: #fe142f;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
}
.btn-signup:hover {
  background: #3876ac;
}
/** Ce bouton n'apparaîtra qu'au-dessous de 1024px **/
.hero-section > .btn-signup {
  display: none;
}
/****** Partie de droite ******/
/** l'élément s'étend sur 7 colonnes consécutives (invisibles) dans la grille **/
.hero-img {
  grid-column: span 7;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 0;
}
@media screen and (max-width: 1080px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    box-shadow: unset;
    margin-left: 0;
    margin-right: 0;
  }
  .hero-content {
    background: #fff;
    color: #000;
    padding: 0;
  }
  .hero-content::after {
    content: unset;
  }
  .hero-headline {
    font-size: 4.5rem;
    white-space: normal;
    text-align: center;
    margin-top: 0;
  }
  .hero-text {
    width: unset;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 20px;
  }
  /** Le 2ème bouton apparaît **/
  .hero-section > .btn-signup {
    display: block;
    margin: auto;
    margin-top: 45px;
  }
  /** Le 1er bouton est caché **/
  .hero-content > .btn-signup {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-headline {
    font-size: 2.9rem;
    letter-spacing: 0;
    text-align: left;
  }

  .hero-text {
    font-size: 0.9rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .btn-signup {
    font-size: 1rem;
    padding: 8px 40px;
    border-radius: 8px;
  }
  .hero-img img {
    margin-top: 0;
  }
}

/********************** MODALE **********************/
/** FOND **/
.bground {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
/** Aspect globale de la Modale **/
.content {
  margin: 35px auto;
  width: 100%;
  max-width: 500px;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  animation: modalopen var(--modal-duration) ease-in-out;
}
@media screen and (max-width: 524px) {
  .content {
    margin-top: 14%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
  }
}

/** Animation sur la façon dont doit apparaître la modale **/
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/** Positionnement global de la croix **/
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
/** Description des barres de la croix **/
.close::before,
.close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
/** 1ère barre **/
.close::before {
  transform: rotate(45deg);
}
/** 2ème barre **/
.close::after {
  transform: rotate(-45deg);
}

/** Interieur de la modale **/
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}
/** Titres **/
label,
.label {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 9px;
  margin-top: 9px;
}

/** Champs **/
input {
  border: 0.8px solid #ccc;
  outline: none;
}
/** Textes intérieur des champs **/
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  height: 40px;
}
/** interieur des boutons radio et checkboxes invisibles au départ **/
.checkbox-input {
  display: none;
}
/** Position des Labels des boutons radio **/
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 32px;
  font-size: 12px;
  font-weight: normal;
}

/** aspect et position des boutons radios et checkboxes **/
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -2px;
  transition: 0.3s;
}

/** Interieur Boutons radios et checkboxes **/
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-49%, -50%);
  transition: 0.3s;
  opacity: 0;
}
/** Apparition des ronds ou coches lorsque les boutons radio ou checkboxes sont cochés **/
.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}
/** Aspect de base des checkboxes **/
.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
/** Background des checkboxes lorsque cochées **/
.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}
/** Coches des checkboxes **/
.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 5px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 22%;
  top: 19%;
}
/*** BOUTON MODALE ***/
/*** Paramètres du bouton de la Modale***/
.btn-submit {
  background: #fe142f;
  display: block;
  margin: 15px auto 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 62px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
}
.btn-submit:hover {
  background: #3876ac;
}
/** Paramètres de base des Messages d'erreurs même si invisibles pour l'instant avec opacity à 0 **/
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #fe142f;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
}
/** Apparition des messages d'erreurs lorsqu'appelés en JS **/
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
/** encadré rouge de l'input concerné lorsqu'il y a un message d'erreur **/
.formData[data-error-visible="true"] .text-control {
  border: 3px solid #fe142f;
}

/** Fenêtre de réussite/validation de formulaire **/
.modal_success {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 39, 156, 0.4);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 150px 40px 0 40px;
  width: 100%;
  height: 95%;
  background: #232323;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  animation: modalopen var(--modal-duration) ease-in-out;
}
@media screen and (max-width: 524px) {
  .modal_content {
    font-size: 2rem;
    margin-top: 25%;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
  }
}
